.container-page
{
    display: grid;
    grid-template-columns: [page-col-first] auto [page-col-content-start] 512px [page-col-content-end] auto [page-col-last];
    grid-template-rows: auto auto auto auto;
    align-items: stretch;
    justify-items: stretch;
    grid-column-gap: 2px;
    grid-row-gap: 2px;
}

.item-page
{
    grid-column: page-col-first / page-col-last;
    grid-row: auto / span 1;
    align-self: center;
    justify-self: center;
}

.item-page-content
{
    grid-column: page-col-content-start / page-col-content-end;
    grid-row: auto / span 1;
    align-self: center;
    justify-self: center;
}

.container-header
{
    display: grid;
    grid-template-columns: [header-col-first] auto [header-col-last];
    grid-template-rows: auto auto;
    align-items: stretch;
    justify-items: stretch;
    grid-column-gap: 2px;
    grid-row-gap: 2px;
}

.item-header
{
    grid-column: header-col-first / header-col-last;
    grid-row: auto / span 1;
    align-self: center;
    justify-self: center;
}

.container-nav
{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: [nav-row-first] auto [nav-row-last];
    align-items: stretch;
    justify-items: stretch;
    grid-column-gap: 32px;
    grid-row-gap: 2px;
}

.item-nav
{
    grid-column: auto / span 1;
    grid-row: nav-row-first / nav-row-last;
    align-self: center;
    justify-self: center;
}

.centered
{
    text-align: center;
}

p
{
    text-align: left;
}

a
{
    text-decoration: none;
}

a.nav
{
    text-decoration: underline;
}

a:link
{
    color: #484BA9;
}

a:visited
{
    color: #484BA9;
}

a:active
{
    color: #DBDCFE;
}

a:hover
{
    color: #0000ff;
}

img.customBorder
{
    border: 3px black solid;
}

img.banner
{
    width: 100%;
}
