.container-page
{
    display: grid;
    grid-template-columns: auto 512px auto [col-last];
    grid-template-rows: auto auto auto auto auto;
    align-items: stretch;
    justify-items: stretch;
    grid-column-gap: 2px;
    grid-row-gap: 2px;
}

.item-page-title
{
    grid-column: 1 / col-last;
    grid-row: 1 / span 1;
    align-self: center;
    justify-self: center;
}

.item-page-banner
{
    grid-column: 1 / col-last;
    grid-row: 2 / span 1;
    align-self: center;
    justify-self: center;
}

.item-page-nav
{
    grid-column: 1 / col-last;
    grid-row: 3 / span 1;
    align-self: center;
    justify-self: center;
}

.item-page-content
{
    grid-column: 2 / span 1;
    grid-row: 4 / span 1;
    align-self: center;
    justify-self: center;
}

.item-page-footer
{
    grid-column: 1 / col-last;
    grid-row: 5 / span 1;
    align-self: center;
    justify-self: center;
}

.container-nav
{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto [row-last];
    align-items: stretch;
    justify-items: stretch;
    grid-column-gap: 32px;
    grid-row-gap: 2px;
}

.item-nav-link-1
{
    grid-column: 1 / span 1;
    grid-row: 1 / row-last;
    align-self: center;
    justify-self: center;
}

.item-nav-link-2
{
    grid-column: 2 / span 1;
    grid-row: 1 / row-last;
    align-self: center;
    justify-self: center;
}

.item-nav-link-3
{
    grid-column: 3 / span 1;
    grid-row: 1 / row-last;
    align-self: center;
    justify-self: center;
}

.item-nav-link-4
{
    grid-column: 4 / span 1;
    grid-row: 1 / row-last;
    align-self: center;
    justify-self: center;
}

.item-nav-link-5
{
    grid-column: 5 / span 1;
    grid-row: 1 / row-last;
    align-self: center;
    justify-self: center;
}

a
{
    text-decoration: underline overline dotted;
}

a:link
{
    color: #484BA9;
}

a:visited
{
    color: #484BA9;
}

a:active
{
    color: #DBDCFE;
}

a:hover
{
    color: #0000ff;
}

img.customBorder
{
    border: 3px black solid;
}
