<p>
    ~
    <br>
    <br>
    © 2009-2019 Joseph Cassano
    <br>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- JPLC Main -->
    <ins class="adsbygoogle"
         style="display:inline-block;width:728px;height:90px"
         data-ad-client="ca-pub-3881746778155423"
         data-ad-slot="3411192998"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    <br>
    Powered by <a href="https://pages.github.com/">GitHub Pages</a>.
</p>
