<head>
    <title>Joseph "JPLC" Cassano | Home</title>
    
    {% include analytics_google.html %}

    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <link rel="shortcut icon" href="/favicon.ico" >

    <link rel="icon" type="image/vnd.microsoft.icon" href="/favicon.ico">

    {% include css.html %}

    <script type="text/javascript" src="/lightbox/js/prototype.js"></script>

    <script type="text/javascript" src="/lightbox/js/scriptaculous.js?load=effects,builder"></script>

    <script type="text/javascript" src="/lightbox/js/lightbox.js"></script>

    <link rel="stylesheet" href="/lightbox/css/lightbox.css" type="text/css" media="screen" />
</head>
