<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.title }} | {{ page.title }}</title>
    {% include analytics.html -%}
    {% include favicon.html -%}
    <link rel="stylesheet" type="text/css" href="/style.css" media="screen">
    {% include unity.html %}
    <link rel="me" href="https://mastodon.social/@JPLC">
    <link rel="me authn" href="mailto:joseph.cassano@jplc.ca">
    <link rel="webmention" href="https://webmention.io/www.jplc.ca/webmention">
</head>
