<p>
    <a href = "/">Home</a>

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    <a href = "/blog/">Blog</a>

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    <a href = "/about_me/">About Me</a>

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    <a href = "/games/">Games</a>

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    <a href= "/accounts/">Various Accounts</a>

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    <a href= "/portfolio/">Portfolio</a>

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    <a href= "http://ca.linkedin.com/in/josephcassano">R&eacute;sum&eacute;</a>

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    <a href = "mailto:joseph.cassano@jplc.ca?subject=jplc.ca%20Site%20Visit">Contact</a>
</p>
