{%- assign indexString = "index.html" -%}
{%- assign slashString = "/" -%}
{%- assign homePageDir = "" -%}
{%- assign homePageStrictDir = slashString | append: homePageDir -%}
{%- assign homePagePath = homePageDir | append: indexString -%}
{%- assign aboutMePageDir = "about_me/" -%}
{%- assign aboutMePageStrictDir = slashString | append: aboutMePageDir -%}
{%- assign aboutMePagePath = aboutMePageDir | append: indexString -%}
{%- assign gamesPageDir = "games/" -%}
{%- assign gamesPageStrictDir = slashString | append: gamesPageDir -%}
{%- assign gamesPagePath = gamesPageDir | append: indexString -%}
{%- assign homeTitle = "TITLE_NOT_FOUND" -%}
{%- assign aboutMeTitle = "TITLE_NOT_FOUND" -%}
{%- assign gamesTitle = "TITLE_NOT_FOUND" -%}
{%- for item in site.pages -%}
    {%- if item.path == homePagePath -%}
        {%- assign homeTitle = item.title -%}
    {%- elsif item.path == aboutMePagePath -%}
        {%- assign aboutMeTitle = item.title -%}
    {%- elsif item.path == gamesPagePath -%}
        {%- assign gamesTitle = item.title -%}
    {%- endif -%}
{%- endfor -%}
<div class="item-page-nav">
    <div class="container-nav">
        <div class="item-nav-link-1">
            <p class="centered"><a class="nav" href = "{{ homePageStrictDir }}">{{ homeTitle }}</a></p>
        </div>
        <div class="item-nav-link-2">
            <p class="centered"><a class="nav" href = "{{ aboutMePageStrictDir }}">{{ aboutMeTitle }}</a></p>
        </div>
        <div class="item-nav-link-3">
            <p class="centered"><a class="nav" href = "{{ gamesPageStrictDir }}">{{ gamesTitle }}</a></p>
        </div>
        <div class="item-nav-link-4">
            <p class="centered"><a class="nav" href= "{{ site.linkedInUrl }}">R&eacute;sum&eacute;</a></p>
        </div>
        <div class="item-nav-link-5">
            <p class="centered"><a class="nav" href = "mailto:{{ site.email }}?subject=jplc.ca%20Site%20Visit">Contact</a></p>
        </div>
    </div>
</div>
