{% assign indexString = "index.html" %}
{% assign homePageDir = "/" %}
{% assign homePageUrl = homePageDir | append: indexString %}
{% assign aboutMePageDir = "/about_me/" %}
{% assign aboutMePageUrl = aboutMePageDir | append: indexString %}
{% assign gamesPageDir = "/games/" %}
{% assign gamesPageUrl = gamesPageDir | append: indexString %}
{% assign homeTitle = "TITLE_NOT_FOUND" %}
{% assign aboutMeTitle = "TITLE_NOT_FOUND" %}
{% assign gamesTitle = "TITLE_NOT_FOUND" %}
{% for item in site.pages %}
{{ item.path }}
    {% if item.path == homePageUrl %}
        {% assign homeTitle = item.title }
    {% elsif item.path == aboutMePageUrl %}
        {% assign aboutMeTitle = item.title %}
    {% elsif item.path == gamesPageUrl %}
        {% assign gamesTitle = item.title %}
    {% endif %}
{% endfor %}
<p>
    <a href = "{{ homePageDir }}">{{ homeTitle }} {{ homePageUrl }}</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href = "{{ aboutMePageDir }}">{{ aboutMeTitle }} {{ aboutMePageUrl }}</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href = "{{ gamesPageDir }}">{{ gamesTitle }} {{ gamePageUrl }}</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href= "{{ site.linkedInUrl }}">R&eacute;sum&eacute;</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href = "mailto:{{ site.email }}?subject=jplc.ca%20Site%20Visit">Contact</a>
</p>
