<!DOCTYPE html>
<html>
    {% include head.html %}
    <body>
        <div id="Content">
            {% include header.html %}
            <section>
                <p class="centered">
                    <h2>{{ page.title }}</h2>
                </p>
                {{ content }}
            </section>
            <p class="centered">
                <p>~</p>
                {% comment %}
                {% include ads.html %}
                {% endcomment %}
                {% include footer.html %}
            </p>
        </div>
    </body>
</html>
