<!DOCTYPE html>
<html>
    {% include head.html -%}
    <body>
        <div class="container-page">
            <div class="item-page">
                {% include header.html -%}
            </div>
            <div class="item-page">
                {% include nav.html -%}
            </div>
            <div class="item-page-content">
                <section>
                    <h2 class="centered">{{ page.title }}</h2>
                    {{ content }}
                </section>
            </div>
            <div class="item-page">
                <p class="centered">~</p>
                {% include footer.html -%}
            </div>
        </div>
    </body>
</html>
