<!DOCTYPE html>
<html>
    {%- include head.html -%}
    <body>
        {%- include header.html -%}
        <section>
            <div id="TrueCentered">
                <h2>{{- page.title -}}</h2>
            </div>
            <div id="Content">
                {{- content -}}
            </div>
        </section>
        <div id="Centered">
            <p>~</p>
            {%- comment -%}
            {%- include ads.html -%}
            {%- endcomment -%}
            {%- include footer.html -%}
        </div>
    </body>
</html>
